.tournaments-container {
    margin: 0;
    padding: 0;
    position: relative;
}

.tournament-container {
    height: 150px;
    box-shadow: 0px 0px 10px 0px #ccc;
    margin-bottom: 25px;
    padding: 25px;
    transition: all 250ms ease-in-out;

    word-break: break-all;
}

.tournament-container > p:nth-child(1){
    font-size: 16pt;
}

.tournament-container > p {
    text-align: justify;
}

.tournament-container:hover {
    transform: scale(1.007);
    box-shadow: 0px 0px 15px 0px #999;
    background: #6A44FF !important;
}

.tournament-container:hover > div > p {
    color:white;
}
.tournament-container {
    border-bottom: 1px solid #ccc;
}

.tournament-container:last-child {
    border-bottom: none;
}

.both-categories-container {
    padding: 0;
}

.both-categories-container h2 {
    padding-bottom: 0;
}

.both-categories-container h2:nth-child(4){
    margin-top: 50px;
}

.tournament-container .green-text {
    font-size: 10pt;
}

.button-container-tournaments input{
    position: absolute;
    text-align: center;
    left: 25%;
    top: 30px;
    width: 125px;
}



@media only screen and (max-width: 850px) {

    .tournament-container {
        height: 200px;
    }



    
}