.category-container {
    padding-left: 30px;
    height: 200px;
    width: 47%;
    min-width: 250px;
    margin-bottom: 4%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 0px #aaa;
    transition: all 250ms ease-in-out;
}

.category-container:nth-child(odd) {
    float:right;
}

.category-container:nth-child(even) {
    float:left;
}

.category-container:hover {
    box-shadow: 0px 0px 2px 0px #aaa;
    background-color: #6a44ff;
}

.category-container:hover p, .category-container:hover h2 {
    color: white;
}


.category-container:hover input {
    background-color: #6a44ff;
    border: 1.5px solid white;
    color: white;
}

.category-container h2 {
    margin-top: 25px;
    text-align: left;
}

.button-container input {
    margin-top: 50px;
    margin-right: 25px;
 
}


.progress-bar {
    width: 95%;
    height: 9px;
    background-color: rgb(201, 208, 253);
    border: none;
}

.bar {
    height: 9px;
    background-color: rgb(18, 26, 78);
}

@media only screen and (max-width: 850px) {
    .category-container:nth-child(even),
    .category-container:nth-child(odd) {
        float: none;
        width: 95%;
    }

    .category-container h2 {
        padding-top: 25px;
    }

    
}


.p-small-text {
    color: #aaa;
    text-align: left;
    padding-top: 10px;
    font-size: 10pt;
}