.category-wrapper {
    text-align: center;
}

div.category-wrapper {
    box-shadow: 0 0 5px #aaa;
    margin: 10px 15px;
    min-height: 200px;
    min-width: 30%;
}

.add-category {
    text-align: center;
}

div.add-category {
    border: 0 0 5px #aaa;
}

.add-category i {
    margin: 0;
    padding: 0;
    font-size: 100pt;
    color: #6a44ff;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
}

@media only screen and (max-width: 768px) {
    div.category-wrapper {
        margin: 20px 0;
    }
}

