.navbar {
    border-radius: 0px !important;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-bottom: -5px;
    height: 55px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family:  'Roboto', sans-serif;
    text-align: justify;
}
.navbar-header p, li > * {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFAFF !important;
    font-size: 13pt;
    font-weight: normal;
    letter-spacing: 1px;
}

.navbar{
    box-shadow: 0px 3px 10px 0px #bbb;
}


li:hover {
    border-bottom: 5px solid rgb(255, 255, 255);
    margin-bottom: -10px !important;
}
nav {
    background-color: rgb(106, 68, 255) !important; /* darkcyan, 106 68 255*/
    border: 0px !important;
}

.navbar-header {
    margin-left: 11vw !important;
    vertical-align: middle !important;
}

#item-login {
    margin-right: 11vw;
}

#item-login span,
#item-signup span {
    margin-right: 5px;
}

#codeflex {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24pt;
    font-weight: 200;
    letter-spacing: 1px;
    color: white;
    padding-top: 2px;
}

img {
    display: inline-block;
    width: 50px;
}