.add-problem-container {
    text-align: center;
}

.add-problem-container i {
    color: green;
    font-size: 90pt;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.add-problem-container i:hover {
    transform: scale(1.05);
}

div.test-case-wrapper {
    margin: 15px;
    min-height: 235px;
    max-width: 200px;
    min-width: 200px;
    box-shadow: 0 0 5px #ccc;
    transition: all 250ms ease-in-out;
}

.test-case-wrapper h3 {
    padding: 0 20px;
}

div.test-case-wrapper:hover {
    transform: scale(1.1);
}

.test-case-wrapper {
    text-align: center;
    cursor: pointer;
}

.text-case-wrapper input {
    margin: 25px !important;
}

.tc {
    display: inline-block;
}

.tc input {
    margin: 5px;
}

.inline-field input,
.inline-field label {
    display: inline-block;
    vertical-align: middle;
    /* Fixes any weird issues in Firefox and IE */
}

div.tc-popup {
    padding: 5px;
}

.tc-popup textarea {
    margin-top: 15px;
}

.btn-tc {
    background-color: white;
    border: 1px solid #6a44ff;
    border-radius: 0;
}

textarea.modal-text-area {
    width: 700px;
    height: 450px;
}

textarea.modal-text-area-section {
    width: 350px;
    height: 250px;
}

.add-test-case i {
    margin: 0;
    padding: 0;
    font-size: 100pt;
    color: #6a44ff;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
}

@media only screen and (max-width: 768px) {
    div.test-case-wrapper {
        margin: 25px 0;
        max-width: 100%;
    }
    textarea.modal-text-area {
        width: 250px;
        height: 300px;
    }
    textarea.modal-text-area-section {
        width: 275px;
        height: 100px;
    }

}