.color-empty {
    fill: rgb(240, 240, 240);
}

.react-calendar-heatmap-month-label {
    font-size: 8pt;
    font-family: 'Roboto Condensed', sans-serif;
}

.react-calendar-heatmap .color-gitlab-0{
    fill: #ededed;
}

.react-calendar-heatmap .color-gitlab-1,
.react-calendar-heatmap .color-gitlab-2,
.react-calendar-heatmap .color-gitlab-3 {
    fill: #acd5f2;
}

.react-calendar-heatmap .color-gitlab-4,
.react-calendar-heatmap .color-gitlab-5 {
    fill: #7fa8d1;
}

.react-calendar-heatmap .color-gitlab-6,
.react-calendar-heatmap .color-gitlab-7 {
    fill: #49729b;
}

.react-calendar-heatmap .color-gitlab-8,
.react-calendar-heatmap .color-gitlab-9 {
    fill: #254e77;
}

rect {
    fill: #254e77;
}

g.react-calendar-heatmap-all-weeks>g>rect:hover {
    stroke: black;
    fill: white;
    stroke-width: 1;
    fill-opacity: 1;
    stroke-opacity: 1;
}

#img-profile-placeholder {
    width: 100%;
    padding-top: 15px;
}

.profile-user-info {
    text-align: left;
}

div.profile-page-submission {
    border: 1px solid #6a44ff;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px;
    transition: all 250ms ease-in-out;
}

div.profile-page-submission:hover {
    transform: scale(1.02);
    border: 1px solid #6a44ff;
}

.profile-page-submission p {
    line-height: 20pt;
    padding: 0;
    margin: 0;
}

.profile-page-border {
    border: 1.5px solid #6a44ff;
    border-radius: 5px;
    padding: 15px;
    padding-top: 0px;
}