.testcase-container {
    margin: 0;
    padding: 0;
    text-align: center;
}

.testcase  {
    padding: 20px;
    box-shadow: 0px 0px 5px 0px #aaa;
    margin: 15px;
    transition: all 250ms ease-in-out;
}

.testcase:hover{
    transform: scale(1.04);
}

.testcase i, .testcase p{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.testcase i {
    font-size: 22pt;
}

.testcase p {
    font-size: 13pt;
}
.green-icon {
    color: rgb(11, 174, 11);
}

.red-icon {
    color: rgb(248, 1, 1);
}