div.manage-topic {
    min-height: 250px;
    box-shadow: 0px 0px 7px #aaa;
    margin: 15px auto;
    margin-top: 25px;
    text-align: center;
}

i.manage-icons {
    margin-top: 25px;
    font-size: 40pt;
    background-color: #6a44ff;
    color: white;
    border-radius: 100%;
    padding: 8pt;
}

.manage-topic h3 {
    color: black;
}

div.manage-topic:hover {
    cursor: pointer;
    background-color: #6a44ff;
}

div.manage-topic:hover > i.manage-icons{
   background-color: white;
   color: #6a44ff; 
}

div.manage-topic:hover > p.page-subtitle{
    color: white;
}