
.problems-container {
    box-shadow: 0px 4px 10px 0px #aaa;
    margin: 0;
    padding: 0;
    transition: all 250ms ease-in-out;
}

.problem-container {
    height: 100px;
    padding: 25px;
    transition: all 250ms ease-in-out;
}

.problem-container {
    border-bottom: 1px solid #ccc;
}

.problem-container:last-child {
    border-bottom: none;
}


.problem-container:hover {
    background-color: #6a44ff;
}

.problem-container:hover > div> p {
    color: white;
}

#problem-name {
    font-size: 15pt;
}

#problem-difficulty {
    color: #ccc;
    margin-top: -10px;
    font-size: 11pt;
}

#button-container {
    margin-top: -50px;
    float: right;
}

.problem-button {
    min-width: 125px;
    border-radius: 0;
    background-color: white;
    color: black;
    transition: all 250ms ease-in-out;
}

.problem-button:hover{
    transform: scale(1.08);
    background-color: white;
    color: black;
    box-shadow: none;
    border: none;
}

.problem-info {
    padding-right: 0;
    padding-left: 50px;
}

.problem-info input{
    float: left;
    margin-right: 10px;
    margin-top: 8px;
}

@media only screen and (max-width: 850px) {
    .problem-info {
        padding-left: 0;
    }
    
}