
.text-editor-wrapper {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 6px;
    min-height: 200px;
    box-shadow: 0px 0px 5px #ccc;
}

.public-DraftEditor-content {
    min-height: 200px;
    padding: 0 15px;
}

.rdw-editor-toolbar {
    border: 0;
    border-bottom: 1px solid #ccc;
}
