h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

.page-subtitle {
    color: #aaa;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 20pt;
}

h3.page-subtitle {
    font-size: 16pt;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

p.page-subtitle {
    font-size: 13pt
}

.btn-codeflex {
    border: 1px solid #6a44ff;
    background-color: white;
    min-width: 75px;
    min-height: 35px;
    box-shadow: 0px 0px 4px #aaa;
    border-radius: 0;
    color: black;
}

.btn-codeflex:hover {
    background-color: #6a44ff;
    color: white;
    box-shadow: 0px 0px 10px 1px #aaa;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.textbox {
    padding: 10pt;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #ccc;
}

p.span-data-validation {
    font-size: 10pt !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    color: rgb(255, 27, 27);
}

.fill-info {
    color: #aaa;
}