.problem-info-container {
    float:right;
}

.ace-editor-navbar {
    background-color: #f0f0f0;
    margin-bottom: -1px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px 0px #ccc;
    min-width: 85%;
    max-width: 85%;
    text-align: right;
}

.ace-editor-navbar select {
    margin: 5px 5px;
    padding: 5px;
}
.ace-editor {
    margin-top: 25px;
}