.problem-info-container table {
    margin: 0 auto;
    text-align: right;
}

.problem-info-container p {
    padding: 5px;
}

.problem-info-container tr {
    border-bottom: 1px solid #aaa;
}

.problem-info-container th {
    padding: 0px 10px;
}

.align-left {
    text-align: left;
    margin: 5px 0;
}

.align-right {
    text-align: right;
    margin: 5px 0;
}

.problem-description-container {
    padding: 30px;
    box-shadow: 0px 4px 10px 0px #ccc;
    border-top: 2px solid #6A44FF;
}

.problem-nav {
    text-decoration: none;
    position: relative;
    margin: 0;
    transition: all 250ms ease-in-out;
}

.problem-nav>ul>li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18pt;
    padding: 2px 20px;
}

.problem-nav li {
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding: 10px 15px;
    font-size: 15pt;
    margin-bottom: 0px;
    cursor: pointer;
}

.problem-nav li:first-child {
    margin-left: -40px;
}

.active {
    background-color: #6A44FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.ace-editor-container {
    padding: 0;
}

.ace-editor-navbar {
    margin-top: 50px;
    background-color: #f0f0f0;
    margin-bottom: -1px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px 0px #ccc;
    min-width: 100%;
    max-width: 100%;
    text-align: right;
}

.ace-editor-navbar select {
    margin: 5px 5px;
    padding: 5px;
}

.ace-editor {
    margin-top: 25px;
}

.button-container {
    margin-top: 20px;
    text-align: right;
}

.loader-container {
    margin-top: 50px;
    text-align: center;
}

.loader {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 850ms ease-out infinite;
}

.problem-testcase-wrapper p,
.problem-testcase-wrapper h4 {
    padding: 7px;
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
}

.testcase-wrapper {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
}

.problem-testcase-wrapper div:first-child {
    border-top: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .problem-info-container table {
        margin-top: 15px;
    }
    .problem-info-container p {
        margin-top: 35px;
    }
    /* TODO: rework: */
    .problem-nav {
        margin-bottom: 50px;
    }

    .problem-nav > ul > li {
        font-size: 11pt;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width:400px) {

    .problem-nav {
        margin-bottom: 45px;
    }
    .problem-nav > ul > li {
        font-size: 9pt;
        margin: 0;
        text-align: center;
    }
}